.nav {
  // --background: #25D366;
  --color: #fff;
  --background: transparent;
  display: none;
}
ion-menu-button{
  --color:white !important;
  color:white !important;
}
ion-menu-buttons{
  --color:white !important;
  color:white !important;
}
.map-container {
  width: 100%;
  height: 100%;
  display: inline-block;
}
capacitor-google-map {
  display: block;
  width: 100%;
  height: 100%;
}
